# Projekt: Breast Cancer Diagnosis

This is a lab book from the project. It contains codes, plots and other information that is important for the project. 

Input dataset (Kaggle):  https://www.kaggle.com/uciml/breast-cancer-wisconsin-data/download

Hypothesis: we can differentiate between Malign (M) and Bening (B) cancer, based on parameters measured by the patient#s doctor.

## Import of data from SQL

The table is already in SQL. I used PHPAdmin to export the table, the download went to Downloads/ folder, saved as .sql format. Next, I will import the table to PANDAS, using the following directions: https://stackoverflow.com/questions/32912373/importing-multiple-sql-tables-using-pandas

In [30]:
import pandas as pd
import pandas.io.sql as psql
import pypyodbc

#Server: 127.0.0.1, via TCP/IP
#C:/Benutzer/Alfa/Dokumente/Costa_MB/Projekt/tbl_name.sql
    
#conn = pypyodbc.connect("DRIVER={SQL Server};\
#                        SERVER=serveraddress;\
#                        UID=uid;\
#                        PWD=pwd;\
#                        DATABASE=db")

#table_breast_cancer = pypyodbc.connect("DRIVER={SQL Server};\
 #                       SERVER=127.0.0.1;\
  #                      UID=alfa;\
   #                     PWD=C:/Benutzer/Alfa/Dokumente/Costa_MB/Projekt/;\
    #                    DATABASE=csv_db")

#df_breast_cancer = psql.read_frame('SELECT * FROM csv_db.tbl_name', table_breast_cancer)

We don't have any SQL Driver, so I will export the table with PHPAdmin and import it directly in a python object.

In [32]:
import pandas as pd
df = pd.read_csv("C:/Users/Alfa/Desktop/kaggle_breast-cancer-wisconsin.csv")
df.head(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
5,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440
6,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,...,22.88,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368
7,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,...,17.06,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.1556,0.3196,0.11510
8,844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.09353,...,15.49,30.73,106.20,739.3,0.1703,0.5401,0.5390,0.2060,0.4378,0.10720
9,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,...,15.09,40.68,97.65,711.4,0.1853,1.0580,1.1050,0.2210,0.4366,0.20750

# Project: K-means for our data

In [46]:
#Create our data object "radius_mean"
#radius_mean = df.iloc[:,2]
radius_mean = df.values[:,2]

#print(radius_mean)
len(radius_mean)

569

In [43]:
from sklearn.cluster import KMeans

radius_mean_twodimensions = [[]]
radius_mean_twodimensions[0].append(radius_mean)
radius_mean_twodimensions[1].append(radius_mean)

#radius_mean_twodimensions.reshape(-1, 1)

kmeans = KMeans(n_clusters=1)
kmeans.fit(radius_mean)
y_kmeans = kmeans.predict(radius_mean_twodimensions)
plt.scatter(X[:, 0], X[:, 1], c=y_kmeans,s=50, cmap='viridis')
centers = kmeans.cluster_centers_
plt.scatter(centers[:, 0], centers[:, 1], c='black',s=200, alpha=0.5);

IndexError: list index out of range

I had a problem with my data, it was only one-dimensional, so I tried to artificially convert it to two-dimensions, but this solution also did not work. I will drop this experiment for now.